.Burger {
  @apply h-64 w-full text-xl font-bold m-auto overflow-auto text-center;

  @media(min-width: 1000px) and (min-height: 700px) {
    width: 530px;
    height: 400px;
  }

  @media(min-width: 500px) and (min-height: 400px) {
    width: 400px;
    height: 300px;
  }
}
