.Controls {
    @apply w-full flex flex-col items-center py-3;
    background: #cf8f2e;
    box-shadow: 0 2px 1px #cccccc;
}


.OrderButton {
    @apply outline-none cursor-pointer uppercase py-4 px-8 text-xl border border-solid;
    background-color: #DAD735;
    border-color: #966909;
    color: #966909;
    font-family: inherit;
    box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover, .OrderButton:active {
    @apply border border-solid;
    background-color: #A0DB41;
    border-color: #966909;
    color: #966909;
}

.OrderButton:disabled {
    @apply border border-solid cursor-not-allowed border-gray-300;
    background-color: #C7C6C6;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}