.Controls {
    @apply w-full flex flex-col items-center py-3 bg-yellow-400 shadow;
}


.OrderButton {
    @apply outline-none cursor-pointer uppercase py-4 px-8 text-xl border border-solid shadow bg-yellow-200 border-yellow-700 text-yellow-700;
}

.OrderButton:hover, .OrderButton:active {
    @apply border border-solid bg-green-400;
}

.OrderButton:disabled {
    @apply border border-solid cursor-not-allowed border-gray-300 text-gray-400 bg-gray-200;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}