.field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin: 8px;
}

.element {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
    background-color: #ccc;
  }
}
