@tailwind base;

* {
  @apply box-border;
}

body {
  @apply font-sans m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-mono;
}

html,
body {
  @apply h-full w-full;
}

#root {
  @apply h-full flex flex-col;
}

.menu-flags .flag-select__btn {
  @apply text-white;
}
.menu-flags .flag-select__btn:after {
  @apply border-white;
  /* border-top-color: white; */

}

.menu-flags .flag-select__btn[aria-expanded="true"]:after {
  @apply border-white;
  /* border-bottom-color: white; */
}

/* .menu-flags .flag-select__btn {
  margin: 0;
  padding: 0;
}

.menu-flags .flag-select__option--placeholder {
  padding: 0;
} */

.form {
  @apply flex flex-col items-center;
}
.form__form {
  @apply flex flex-col;
}
.form__label {}
.form__field {
  @apply mb-1 flex flex-col items-center;
}
.form__control {
  @apply py-2 px-4 border border-solid;
}

@tailwind components;
@tailwind utilities;